@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 600;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 242, 242, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 