@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 600;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 242, 242, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 