@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 브라우저 자동완성 스타일을 완전히 무력화 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active ,
input:-webkit-autofill:not(:focus) {
  -webkit-box-shadow: 0 0 0 1000px #F9F9F9 inset !important;
  -webkit-text-fill-color: #000000 !important;
  background-color: #F9F9F9 !important;
  transition: background-color 50000s ease-in-out 0s !important;
}

@layer base {
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: local('Apple SD Gothic Neo');
    font-weight: 600;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 242, 242, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}